@* MyTrip_Tab *@
@using WebApplication2.Models.Travel

@using System.Security.Principal
@using WebApplication2.Models.User
<script
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBeiiVAS5Jmf-OW_KsR5jnzgA833PE5nng&libraries=places"></script>



<br><br>
<div class="text-center">
    <img src="~/img/MyTrips.jpg" alt="user" width=650px height=150px>
    <br><br>
</div>

<script
	src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBeiiVAS5Jmf-OW_KsR5jnzgA833PE5nng&libraries=places"></script>

<br></br>
<br></br>

<div class="grid-container">

<div class="item50">
     <h6 class="MyTrips">ROUTE:</h6>
    <br></br>
    
    <div id="googleMapCreate">
    </div>
    <br></br>
    <div class="wrap">

    </div>

    <div id="output">
    </div>
</div>
    <div class="item6">
        <h6 class="MyTrips">TRIPS CREATED BY ME:</h6>
        <br></br>
        @* <img src="~/img/byMe.jpg" alt="user" width=350px height=100px> *@
        @* <br><br> *@
        
        <table  name="DataTable" class="table-borderless table-responsive p-4 tableMyTrips">
            <thead>
            <tr class="border-bottom">
                <th>
                    <div class="text-left">
                        <span class="ml-2">Driver</span>
                    </div>
                </th>
                <th>
                    <div class="text-center">
                        <span class="ml-2">From</span>
                    </div>
                </th>
                <th>
                    <div class="text-center">
                        <span class="ml-2">To</span>
                    </div>
                </th>
                <th>
                    <div class="text-center">
                        <span class="ml-2">Time</span>
                    </div>
                </th>
                <th>
                    <div class="text-center">
                        <span class="ml-2">FreeSeats</span>
                    </div>
                </th>
                <th>
                    <div class="text-center">
                        <span class="ml-2">Action</span>
                    </div>
                </th>
                
            </tr>
            </thead>

            @* @foreach (var Trips in Model.TravelResults) *@
            @* { *@
            <tr class="border-bottom">
                <td>
                <div class="text-center">
                    <div class="p-2 d-flex align-items-center mb-2">
                        <img src="~/img/profile.jpg" width="40" class="rounded-circle">
                        <div class="d-flex flex-column  p-2">
                            <span>Kamilė Samusiovaite</span>
                            @* <span class="d-block font-weight-bold">@Html.DisplayFor(modelItem => Trips.DriverName) @Html.DisplayFor(modelItem => Trips.DriverSurname) </span> *@
                        </div>
                    </div>
                </div>
                <td>
                    <div class="p-2">
                        <div class="text-center">
                            @* <span>@Html.DisplayFor(modelItem => Trips.Origin)</span> *@
                            <span>Vilnius</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="p-2 ">
                        <div class="text-center">
                            @* <span>@Html.DisplayFor(modelItem => Trips.Destination)</span> *@
                            <span>Ukmergė</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="p-2">
                        <div class="text-center">
                            @* <small>@Html.DisplayFor(modelItem => Trips.Time)</small> *@
                            <small>10:00</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="p-2">
                        <div class="text-center">
                            @* <small>@Html.DisplayFor(modelItem => Trips.FreeSeats)</small> *@
                            <small>2</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="action">
                        <a>
                            @* <button href="#myModal" data-toggle="modal" type="button" id="Confirm" name="Confirm" class="Confirm">CHOOSE</button> *@
                            <button type="button" class="ConfirmMyTrip">VIEW</button>
                        </a>
                    </div>
                </td>
                
            </tr>
            @* } *@

        </table>

        <br></br>
    <br></br>
    <br></br>
    <h6 class="MyTrips">TRIPS I CHOSE TO TAKE WITH OTHERS:</h6>
        @* <br></br> *@
         @* <img src="~/img/others.jpg" alt="user" width=550px height=100px> *@
        <br><br>
        
    <table  name="DataTable" class="table-borderless table-responsive p-4 tableMyTrips">
        <thead>
        <tr class="border-bottom">
            <th>
                <div class="text-left">
                    <span class="ml-2">Driver</span>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <span class="ml-2">From</span>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <span class="ml-2">To</span>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <span class="ml-2">Time</span>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <span class="ml-2">FreeSeats</span>
                </div>
            </th>
            <th>
                <div class="text-center">
                    <span class="ml-2">Action</span>
                </div>
            </th>
            
        </tr>
        </thead>

        @* @foreach (var Trips in Model.TravelResults) *@
        @* { *@
        <tr class="border-bottom">
            <td>
            <div class="text-center">
                <div class="p-2 d-flex align-items-center mb-2">
                    <img src="~/img/profile.jpg" width="40" class="rounded-circle">
                    <div class="d-flex flex-column  p-2">
                        <span>Kamilė Samusiovaite</span>
                        @* <span class="d-block font-weight-bold">@Html.DisplayFor(modelItem => Trips.DriverName) @Html.DisplayFor(modelItem => Trips.DriverSurname) </span> *@
                    </div>
                </div>
            </div>
            <td>
                <div class="p-2">
                    <div class="text-center">
                        @* <span>@Html.DisplayFor(modelItem => Trips.Origin)</span> *@
                        <span>Vilnius</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="p-2 ">
                    <div class="text-center">
                        @* <span>@Html.DisplayFor(modelItem => Trips.Destination)</span> *@
                        <span>Ukmergė</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="p-2">
                    <div class="text-center">
                        @* <small>@Html.DisplayFor(modelItem => Trips.Time)</small> *@
                        <small>10:00</small>
                    </div>
                </div>
            </td>
            <td>
                <div class="p-2">
                    <div class="text-center">
                        @* <small>@Html.DisplayFor(modelItem => Trips.FreeSeats)</small> *@
                        <small>2</small>
                    </div>
                </div>
            </td>
            
            <td>
            <div class="action">
                <a>
                    @* <button href="#myModal" data-toggle="modal" type="button" id="Confirm" name="Confirm" class="Confirm">CHOOSE</button> *@
                    <button type="button" class="ConfirmMyTrip">VIEW</button>
                </a>
            </div>
            </td>
        </tr>
        @* } *@
    </table>
</div>
</div>






<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        loadGoogleMapCreate();
    }, false);
</script>	


<style>
    .ml-2 {
      color: #F2FF00;
      white-space: nowrap;
      padding: 20px;
      display: inline;
    }
    .tableMyTrips{
      /*margin-left:auto; */
      margin-right:auto;
    }
    
    .MyTrips{
     color: #F2FF00;
     font-size: large;
    }
    
/*button*/
.ConfirmMyTrip{
  --glow-color: rgb(159, 206, 109);
  --glow-spread-color: rgb(61, 71, 136);
  --enhanced-glow-color: rgb(255, 255, 255);
  --btn-color: rgb(61, 71, 136);
  border: .10em solid var(--glow-color);
  padding: 1em 8em;
  color: var(--enhanced-glow-color);
  font-size: 11px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 2px 5px 5px #F2FF00;
  top:15px;
  
}

.Confirm:hover {
  color: var(--btn-color);
  background-color: var(--enhanced-glow-color);
  box-shadow: 0 0 1em .2em var(--enhanced-glow-color),
  0 0 4em 2em var(--glow-spread-color),
  inset 0 0 .7em .2em var(--enhanced-glow-color);
}

</style>