@model List<UserModel>
@using WebApplication2.Models.User

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewData["Title"] = "Users";
    ViewData["API_KEY"] = "AIzaSyBeiiVAS5Jmf-OW_KsR5jnzgA833PE5nng";
}

<div class="text-center">
	@* <h1 class="display-4">View and edit profile</h1> *@
	 <img src="~/img/Users1.jpg" alt="user" width=650px height=150px>
	<br><br>
</div>
   
<table class="table table-borderless table-responsive  p-4">
    <thead>
    <tr class="border-bottom">
        <th>
            <span class="ml-2">Id</span>
        </th>
        <th>
            <span class="ml-2">Driver</span>
        </th>
        <th>
            <span class="ml-2">User Type</span>
        </th>
        <th>
            <span class="ml-2">Phone Number</span>
        </th>
        <th>
            <span class="ml-2">Address</span>
        </th>
        <th>
            <div class="text-center">
            <span class="ml-2">Action</span>
            </div>
        </th>
    </tr>
    </thead>
    @foreach (var user in Model)
    {
        <tr class="border-bottom">
            <td>
                <div class="p-2">
                    <span class="d-block font-weight-bold">@Html.DisplayFor(modelItem => user.Id)</span>
                </div>
            </td>
            <td>
                <div class="p-2 d-flex flex-row align-items-center mb-2">
                    <img src="~/img/profile.jpg" width="40" class="rounded-circle">
                    <div class="d-flex flex-column p-2">
                        <span class="d-block font-weight-bold">@Html.DisplayFor(modelItem => user.Name) @Html.DisplayFor(modelItem => user.Surname) </span>
                        <small class="text-muted">@Html.DisplayFor(modelItem => user.Email)</small>
                    </div>
                </div>
            </td>
            <td>
                <div class="p-2">
                    <span class="font-weight-bold">@Html.DisplayFor(modelItem => user.Type)</span>
                </div>
            </td>
            <td>
                <div class="p-2">
                    <span class="font-weight-bold">@Html.DisplayFor(modelItem => user.PhoneNumber)</span>
                </div>
            </td>
            <td>
                <div class="p-2">
                    <span class="font-weight-bold">@Html.DisplayFor(modelItem => user.Address)</span>
                </div>
            </td>
            <td>
                <submit><a href="#" class="neon-button" type="button">Edit</a></submit>
                <submit><a href="#" class="neon-button" type="button">Delete</a></submit>
            </td>
        </tr>
    }
</table>

 