@using System.Net
@using System.Web
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        @* <strong>Date and Time:</strong> <code>@Model.DateAndTime</code> *@
        @* <br/> *@
        @* <strong>Status Code:</strong> <code>@Model.StatusCode.ToString()</code> *@
        @* <br/> *@
        @* <strong>Source:</strong> <code>@Model.Source</code> *@
        @* <br/> *@
        @* <strong>File:</strong> <code>@Model.File</code> *@
        @* <br/> *@
        @* <strong>Line:</strong> <code>@Model.Line.ToString()</code> *@
        @* <br/> *@
        @* <strong>Type:</strong> <code>@Model.Type</code> *@
        @* <br/> *@
        @* <strong>Method:</strong> <code>@Model.Method</code> *@
        @* <br/> *@
        @* <strong>Message:</strong> <code>@Model.Message</code> *@
        <br/>
        <strong>Correlation ID:</strong> <code>@Model.Id.ToString()</code>
        <br/>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
        <br/>
    </p>
}

